* {
  box-sizing: border-box;
}

.row {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 600px;
  text-align: center;
}

.row2 {
  margin: 0 auto;
  max-width: 300px;
}

button {
  cursor: pointer;
}

input {
  cursor: pointer;
}

#all,
#active,
#completed {
  padding: 2px;
  cursor: pointer;
  width: 80px;
}

.options {
  display: flex;
  justify-content: space-between;
}

.input-wrapper {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.input-text {
  width: 85%;
  padding: 4px;
}

#add {
  padding: 4px;
}

ul {
  padding: 0;
  text-align: left;
}

li {
  display: flex;
  list-style-type: none;
  margin-bottom: 18px;
  word-break: break-all;
}

span {
  text-decoration: none;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.delete {
  margin-left: 12px;
  height: 22px;
  width: 22px;
}

.delete-all {
  float: right;
}
